# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rust / Cargo artifacts
target/
.cargo/

# Environments & virtualenv
.env
.venv
env/
venv/
ENV/

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo

# OS artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs & temp files
*.log
